.workSection {
  height: auto;
  width: 100%;
  background: #eaeffa;
  border-radius: 20px;
  padding: 30px 15px;
  position: relative;
}

p.mainTxt {
  color: #090f4e;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  /* text-align: center; */
}

p.lowerTxt {
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 400;
  line-height: 22px;
}

span.lowerBold {
  color: #4c4c4c;
  font-weight: 600;
}

.cardOne {
  height: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.cardOne:hover {
  transform: translateY(-5px);
  border: 1px solid #090f4e ;
  cursor: pointer;
}

.middleSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p.installTxt {
  color: #090f4e;
  font-size: 24px;
  font-weight: 600;
}

.lowerImg {
  position: relative;
  top: 2rem;
  right: -25px;
}

.cardSection {
  margin-top: 2rem;
}



img.img-fluid.ball {
    position: absolute;
    right: 0;
    bottom: -45px;
}

@media (max-width: 768px) {
  .cardOne {
    height: auto;
    padding: 15px;
  }
  .lowerImg {
    top: 1rem;
    right: 0;
    text-align: center;
  }
}


