@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ml-40{
  margin-left: 40px;
  margin-right: 40px;
}

.mlr-20{
  margin-left: 20px;
  margin-right: 20px;
}

.ptb-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.ptb-80{
  padding-top: 80px;
  padding-bottom: 80px;
}

.mlr-40{
  margin-left: 40px;
  margin-right: 40px;
}